/* fonts */

@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ek-mukta-400-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ek-mukta-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ek-mukta-700-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ek-mukta-700-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* main styles */

body {
  padding: 50px 75px;
  min-width: 360px;
  background: #ccc;
  color: #000;
  text-align: left;
  overflow-y: scroll;
}

body, input, button, select, article, label {
  font: 16px/1.5 'Ek Mukta', sans-serif;
  letter-spacing: 0;
}

em {
  font-style: italic;
}

input, button, select {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  background: #fff;
}

.search {
  width: 200px;
}

button {
  cursor: pointer;
}

button:active, button.active {
  background: #eee;
}

.asc:after, .desc:after {
  content: ' ';
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 0 0 4px;
}

.asc:after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48bGluZSB4MT0iMTIiIHkxPSIxOSIgeDI9IjEyIiB5Mj0iNSI+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9IjUgMTIgMTIgNSAxOSAxMiI+PC9wb2x5bGluZT48L3N2Zz4=');
}

.desc:after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48bGluZSB4MT0iMTIiIHkxPSI1IiB4Mj0iMTIiIHkyPSIxOSI+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9IjE5IDEyIDEyIDE5IDUgMTIiPjwvcG9seWxpbmU+PC9zdmc+');
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside > section {
  display: flex;
  align-items: stretch;
  padding: 5px;
}

label {
  line-height: 36px;
  margin: 0 5px 0 10px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h1 span {
  font-weight: 400;
}

h2 {
  font-size: 20px;
  margin: 20px;
}

header {
  margin: 0 0 40px 10px;
}

main {
  font-size: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0;
}

li {
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #bbb;
  margin: 120px 10px 10px 10px;
  padding: 19px;
  width: 330px;
  height: 370px;
  position: relative;
  background: #fff;
  text-align: center;
}

#faq li {
  margin-top: 10px;
  text-align: left;
}

li.left {
  text-align: left;
  margin: 120px 10px 10px 10px;
}

li img {
  width: 250px;
  height: 200px;
  margin: -120px 0 -20px 0;
  display: inline-block;
  filter: drop-shadow(1px 1px 2px #bbb);
}

li p {
  margin: 20px;
  font-size: 16px;
}

li p span {
  display: block;
}

li aside {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
  display: flex;
}

li aside div, .link {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding: 13px 15px;
  border-right: 1px solid #ddd;
  flex-grow: 1;
}

li aside div:last-child {
  border-right: none;
}

a {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover, h1 a {
  text-decoration: none;
}

a.active {
  font-weight: 700;
  text-decoration: none;
}

h1 a:hover {
  color: #aaa;
}

strong {
  font-weight: 700;
}

p span:first-child {
  margin-bottom: 20px;
}

p span a {
  margin-right: 15px;
}

p span a:last-child {
  margin-right: 0;
}

header a {
  display: inline-block;
}

[v-cloak] {
  display: none;
}

/* media queries */

@media (max-width: 1200px) {

main > aside {
  flex-direction: column;
}

}

@media (max-width: 1000px) {

body {
  padding: 30px;
}

}

@media (max-width: 670px) {

body {
  padding: 30px 10px;
}

header {
  width: 330px;
  margin: 20px auto;
  padding: 5px;
}

h1 {
  font-size: 36px;
}

li.left {
  margin: 10px 0;
}

aside > section {
  flex-direction: column;
  width: 330px;
  margin: 10px auto;
}

input, button, select {
  margin: 0 0 5px 0;
}

.search {
  width: auto;
}

}