<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>analog film space - guide</title>
  <meta name="description" content="Find the film stocks best suited for your analog photography">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://analogfilm.space/guide">
  <meta property="og:title" content="analog film space - guide">
  <meta property="og:description" content="Find the film stocks best suited for your analog photography">
  <meta property="og:image" content="https://analogfilm.space/preview.png">
  <meta property="og:image:secure_url" content="https://analogfilm.space/preview.png">
  <meta property="og:image:width" content="640"> 
  <meta property="og:image:height" content="320">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://analogfilm.space/guide">
  <meta property="twitter:title" content="analog film space - guide">
  <meta property="twitter:description" content="Find the film stocks best suited for your analog photography">
  <meta property="twitter:image" content="https://analogfilm.space/preview.png">

  <link href="manifest.webmanifest" rel="manifest">
  <link href="favicon.svg" rel="icon">
  <link href="favicon.svg" rel="shortcut icon">
  <link href="css/style.css" rel="stylesheet">
  <link href="fonts/ek-mukta-400-latin.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
  <link href="fonts/ek-mukta-700-latin.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
</head>
<body class="dark">
  <div id="guide">
    <header>
      <div class="switch" v-on:click="toggle"></div>
      <h1><a href="/">analog film<span>.space</span></a></h1>
      <p>a database of currently available 35mm, 110 and medium format film stocks</p>
      <nav><a href="/">overview</a> / <a href="/faq">frequently asked questions</a> / <a href="/guide" class="active">film guide</a> / <a href="/random">random film</a></nav>
    </header>
    <main>
      <ul v-cloak>
        <li class="left">
          <h2>{{currenttitle}}</h2>
          <p v-html="currenttext"></p>
          <p v-if="previousstep">« <a href="" v-on:click.prevent="goto(previousstep)">go to previous question</a></p>
          <p v-if="films.length">« <a href="" v-on:click.prevent="goto(1)">start over</a></p>
        </li>
        <li v-for="answer in answers" class="left">
          <h2>{{answer.title}}</h2>
          <p v-html="answer.text"></p>
          <aside>
            <div><a href="" v-on:click.prevent="goto(answer.next)">choose this one</a> »</div>
          </aside>
        </li>
        <li v-for="film in films">
          <img :src="'images/small/' + film.image" :srcset="'images/small/' + film.image + ' 1x, images/' + film.image + ' 2x'" :alt="film.name" loading="lazy">
          <h2>{{film.name}}</h2>
          <p>
            <span v-if="film.description">{{film.description}}</span>
            <span>
              <a v-if="film.flickr" :href="film.flickr" target="_blank" rel="noopener">flickr</a>
              <a v-if="film.lomography" :href="film.lomography" target="_blank" rel="noopener">lomography</a>
              <a v-if="film.datasheet" :href="film.datasheet" target="_blank" rel="noopener">datasheet</a>
            </span>
          </p>
          <aside>
            <div title="film type">{{film.color}} {{film.type}}</div>
            <div title="film format">{{film.format}}</div>
            <div title="film launched/updated" v-if="film.launched">{{film.launched}}</div>
            <div title="price range">{{formatPrice(film.price)}}</div>
          </aside>
        </li>
      </ul>
    </main>
  </div>
  <script src="js/current-films.js?d=20230608"></script>
  <script src="js/guide.js"></script>
  <script src="js/vue.global.prod.js"></script>
  <script src="js/script-guide.js?d=20230608"></script>
</body>
</html>